@import url("../fonts/fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

body.lock,
html.lock {
  overflow-y: hidden !important;
}

p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans";
}

ul {
  padding-left: 0;
}

h1,
h2 {
  font-family: "Libre-regular";
}

::selection {
  background: #07a744;
  color: #fff;
}

.loader {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: loader 2s forwards;
}

.loader__out {
  position: relative;
  top: 45px;
  width: 116px;
  height: 116px;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.loader__in {
  position: absolte;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #000000;
  border-top: 10px solid #fdfdfd;
  border-bottom: 10px solid #ffffff;
  animation: loading 3s linear infinite forwards;
}

.loader__img {
  position: relative;
  bottom: 61px;
  width: 116px;
  height: 99px;
  object-fit: cover;
  background: #ffffff;
  border: 1px solid #00000093;
  border-radius: 50%;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    visibility: hidden;
  }
}

.header__navbar.fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  padding: 0%;
  border-bottom: 2px solid #dddddd;
  animation: fixed 0.5s linear;
}

@keyframes fixed {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.header {
  position: relative;
  background: url("../img/index-bg.png") center 0% / cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__navbar {
  padding: 18px 0;
  z-index: 1;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item {
  margin: 0 20px;
  position: relative;
  list-style: none;
}

.nav__link {
  font-size: 23px;
  line-height: 24px;
  color: #000000;
  transition: 0.3s;
  font-family: "Libre-regular";
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -7px;
  background: #007d2f;
  opacity: 0;
}

.active {
  color: #007d2f;
}

.active::after {
  opacity: 99;
}

.nav__link:hover {
  color: #007d2f;
  text-decoration: none;
}

.header__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.content__info {
  backdrop-filter: blur(10px);
  position: relative;
}

.header__title {
  color: #000000;
  font-size: 35px;
  margin: 0 0 15px;
}

.header___txt {
  color: #2c2c2c;
  margin-bottom: 30px;
}

.header__btn {
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background: #007d2f;
  text-transform: uppercase;
}

.header__btn:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header__btn a {
  color: #fff;
}

.header__btn a:hover {
  text-decoration: none;
  color: #fff;
}

.desc {
  padding: 95px 0;
}

.desc__title {
  font-size: 35px;
}

.desc__text {
  color: #909090;
  margin: 44px 0 54px;
}

.skills {
  background: #f5f5f5;
}

.skills__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.skills__title {
  font-size: 30px;
}

.skills__txt {
  margin: 40px 0 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.skills__precent {
  margin-left: 18px;
}

.progress-bar,
.progress {
  height: 3px;
}

.progress-bar {
  background: #007d2f;
}

.skills__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills_image {
  padding: 0%;
}

.features {
  background: #007d2f;
  padding: 62px 0;
  text-align: center;
  color: #fff;
}

.feature__img {
  margin-bottom: 5px;
}

.features__txt {
  text-transform: uppercase;
}

.gallery {
  background: #007d2f;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__box {
  cursor: pointer;
  padding: 0%;
}

.gallery__eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007d2f;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  transition: 0.5s;
}

.eyes__img {
  width: 90%;
}

.gallery__box:hover .gallery__eyes {
  opacity: 0.7;
}

.gallery__link {
  padding: 45px 0;
  display: flex;
  justify-content: center;
}

.gallery__link a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.work {
  padding: 100px 0;
}

.work__title {
  font-size: 35px;
}

.work__txt {
  color: #909090;
  margin: 44px 0;
}

.work__video {
  width: 100%;
}

.media__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__image {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007d2f;
}

.work__image:before {
  border-radius: 50px;
}

.services {
  background: #f5f5f5;
  padding: 100px 0 45px;
  text-align: center;
}

.services .row {
  align-items: center;
  justify-content: center;
}

.services__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serv__img {
  overflow: hidden;
  width: 42px;
  height: 46px;
}

.services__desc {
  font-size: 35px;
  margin-bottom: 80px;
}

.services__desc .row {
  align-items: center;
}

.services__title {
  margin: 20px 0;
  font-weight: 600;
  text-transform: uppercase;
}

.services__txt {
  margin-bottom: 55px;
}

.testimonials {
  padding: 100px 0;
  background: #007d2f;
}

.carousel-inner {
  height: 280px;
}

.test__txt {
  font-size: 20px;
  color: #fff;
}

.carousel-indicators {
  position: relative;
  top: 100px;
  align-items: center;
}

li.test__indicators.active {
  width: 12px;
  height: 12px;
}

li.test__indicators {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.partners {
  padding: 70px 0;
}

.partners__title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 80px;
}

.partners__img {
  width: 100%;
  background: #007d2f;
}

.contact {
  background: #f5f5f5;
  padding: 100px 0;
  text-align: center;
}

.contact__title {
  font-size: 35px;
}

.contact__txt {
  margin: 40px 0;
}

.contact__input {
  border: none;
  outline: none;
  border-bottom: 2px solid #007d3000;
  padding: 8px 15px;
  width: 100%;
  transition: 0.5s;
}

.contact__input:hover,
textarea:hover,
.contact__input:focus {
  border-bottom: 2px solid #007d30fd;
}

.textarea {
  transition: 0.5s;
  outline: none;
  width: 100%;
  height: 170px;
  border: none;
  border-bottom: 2px solid #007d3000;
  padding: 18px 15px;
}

.form-group {
  margin-bottom: 40px;
}

.contact__btn {
  padding: 12px 13px;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  background: #007d2f;
}

.contact__btn:focus {
  outline: none;
}

.contact__btn a {
  color: #fff;
}

.contact__btn a:hover {
  color: #fff;
  text-decoration: none;
}

.footer {
  padding: 50px 0;
  background: black;
  color: #6a6a6a;
  font-size: 17px;
}

.footer__content:nth-of-type(3) {
  display: flex;
}

.footer__list {
  margin: 0 5px;
}

.footer__title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.footer__email,
.footer__number {
  transition: 0.3s;
  color: #6a6a6a;
  text-decoration: none;
}

.footer__email:hover,
.footer__number:hover {
  color: #fff;
  text-decoration: none;
}

.footer__link {
  text-decoration: none;
  color: #6a6a6a;
  transition: 0.3s;
}

.footer__link:hover {
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

.footer__item {
  list-style: none;
}

.footer__txt {
  text-align: center;
  color: #909090;
  margin-top: 30px;
}

.footer__hero {
  position: relative;
  transition: 0.3s;
  color: #fff;
}

.footer__hero:hover {
  text-decoration: none;
  color: #fff;
}

.footer__hero:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -7px;
  background: #007d2f;
  opacity: 0;
}

@media (max-width: 1140px) {
  .carousel-indicators {
    top: 70px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 8px 0;
  }
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header {
    background: url(../img/index-bg.png) 48% center/cover;
    height: 620px;
  }

  .content__info {
    backdrop-filter: unset;
  }
  .header___txt {
    margin-bottom: 56px;
  }
  .footer__txt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .header.fixed {
    padding: 10px 0;
  }
  .header__list {
    width: 50%;
    height: 100vh;
    background: #07a744;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
  }
  .header__list.active {
    left: 0%;
  }
  .header__burger {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 99;
    transform: rotate(360deg);
  }
  .header__burger.active {
    transform: rotate(360deg);
  }
  .header__icon {
    position: absolute;
    width: 85%;
    height: 4px;
    background: #000000;
    border-radius: 5px;
    transition: 0.3s;
  }
  .header__icon.fixed {
    background: #000000;
  }
  .header__icon.active {
    background: transparent;
  }
  .header__icon::before,
  .header__icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: -10px;
    background: #000000;
    transition: 0.3s;
    border-radius: 5px;
  }
  .header__icon::after {
    top: 10px;
  }
  .header__icon.fixed::before,
  .header__icon.fixed::after {
    background: #000000;
  }
  .header__icon.active::after {
    transform: rotate(-45deg) rotate(360deg);
    background: #000000;
    top: 0;
  }
  .header__icon.active::before {
    transform: rotate(45deg) rotate(360deg);
    background: #000000;
    top: 0;
  }
  .lists {
    position: absolute;
    flex-direction: column;
    left: 72px;
  }
  .lists .nav-item {
    position: relative;
    left: 35%;
    margin: 14px 0;
  }
  .header {
    background: url(../img/nordwood-themes-KcsKWw77Ovw-unsplash.jpg) 48%
      center/cover;
    height: 700px;
  }
  .navbar {
    padding: 20px 0;
  }
  .header__content .row {
    justify-content: center;
    text-align: center;
  }
  .header___txt {
    margin-bottom: 42px;
  }
  .header___txt {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 42px;
  }
  .active {
    color: #000000;
  }
  .nav__link,
  .nav__link:hover {
    color: #ffffff;
  }
  .nav__link:after {
    background: #ffffff;
  }
  .logo__img {
    width: 50px;
  }
  .skills_image {
    padding: 0;
  }
  .feature__box:nth-of-type(1),
  .feature__box:nth-of-type(2) {
    margin-bottom: 50px;
  }
  .carousel-indicators {
    top: 70px;
  }
  .gallery__link {
    padding: 18px 0;
  }
  .services__img {
    height: 40px;
  }
  .partners__img {
    margin-bottom: 29px;
    width: 70%;
  }
  .contact__input {
    padding: 10px 15px;
  }
  .footer__content:nth-of-type(2) {
    text-align: right;
  }
  .footer__content:nth-of-type(3) {
    margin-top: 35px;
    justify-content: space-around;
  }
  .footer__title {
    font-size: 23px;
  }
  .footer__hero {
    color: #ffff;
    outline: none;
  }
  .footer__hero::after {
    opacity: 1;
  }
  .footer__hero:hover:after {
    animation: none !important;
  }
}

@media (max-width: 736px) {
  .col-form:first-of-type {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .carousel-indicators {
    top: 40px;
  }
  .header__content {
    text-align: center;
  }
  .work__image {
    width: 57px;
    height: 57px;
  }
  .col-form:first-of-type {
    margin-bottom: 30px;
  }
  .contact__btn {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .header__list {
    width: 75%;
  }
  .contact__title,
  .desc__title,
  .work__title,
  .services__desc,
  .partners__title {
    font-size: 32px;
  }
  .feature__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .features__txt {
    font-size: 13px;
  }
  .test__txt {
    font-size: 17px;
  }
  .col-form:first-of-type {
    margin-bottom: 40px;
  }
}

@media (max-width: 412px) {
  .partners__img {
    margin-bottom: 29px;
    width: 60%;
  }
}

@media (max-width: 375px) {
  .header__list {
    width: 100%;
  }
  .header__icon.active::after,
  .header__icon.active::before {
    background: #ffffff;
  }
  .work__image {
    width: 45px;
    height: 45px;
  }
  .feature__img {
    width: 35px;
  }
  .features__txt {
    font-size: 11px;
  }
  .services__title {
    font-size: 14px;
  }
  .test__txt {
    font-size: 16px;
  }
  .partners__img {
    width: 60%;
  }
  .footer__content:nth-of-type(2) {
    text-align: center;
  }
  .footer__title {
    font-size: 18px;
  }
  .footer__email {
    word-break: break-word;
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .header__btn {
    font-size: 12px;
  }
  .header__title {
    margin: 0 0 18px;
  }
  .header___txt {
    color: #000000;
    font-weight: 600;
  }
  .skills__content {
    padding: 65px 20px;
  }
  .work {
    padding: 55px 0;
  }
  .carousel-indicators {
    top: 28px;
  }
  li.test__indicators {
    width: 7px;
    height: 7px;
  }
  li.test__indicators.active {
    width: 10px;
    height: 10px;
  }
  .partners {
    padding: 70px 0 40px;
  }
  .gallery__link a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.design {
  animation: design 3s;
}

.development {
  animation: development 3s;
}

.marketing {
  animation: marketing 3s;
}

.nav__link:hover:after {
  opacity: 1;
  animation: nav-link 0.5s;
}

.footer__hero:hover:after {
  opacity: 1;
  animation: footer__hero 0.5s;
}

@keyframes design {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes development {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes marketing {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@keyframes nav-link {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes footer__hero {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
