@import url("../fonts/fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  overflow-x: hidden !important;
}

body.lock,
html.lock {
  overflow-y: hidden !important;
}

p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans";
}

ul {
  padding-left: 0;
}

h1,
h2 {
  font-family: "Libre-regular";
}

::selection {
  background: #07a744;
  color: #fff;
}

.header__navbar.fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  padding: 0%;
  z-index: 999;
  background: #fff;
  border-bottom: 2px solid #dddddd;
  animation: fixed 0.5s linear;
}

@keyframes fixed {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.header__navbar {
  padding: 18px 0;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item {
  margin: 0 20px;
  position: relative;
  list-style: none;
}

.nav__link {
  font-size: 23px;
  line-height: 24px;
  font-weight: 500;
  color: black;
  transition: 0.3s;
  font-family: "Libre-regular";
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -7px;
  background: #007d2f;
  opacity: 0;
}

.nav__link:hover {
  color: #007d2f;
}

.active {
  color: #007d2f;
}

.active::after {
  opacity: 99;
}

.intro {
  background: #323232;
  padding: 110px 0;
}

.intro__content {
  text-align: center;
  width: 60%;
  color: white;
}

.gallery {
  background: green;
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__box {
  cursor: pointer;
  padding: 0%;
}

.gallery__eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007d2f;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  transition: 0.5s;
}

.eyes__img {
  width: 90%;
}

.gallery__box:hover .gallery__eyes {
  opacity: 0.7;
}

.footer {
  padding: 50px 0;
  background: black;
  color: #6a6a6a;
  font-size: 17px;
}

.footer__content:nth-of-type(3) {
  display: flex;
}

.footer__list {
  margin: 0 5px;
}

.footer__title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.footer__email {
  transition: 0.3s;
  margin-bottom: 20px;
  color: #6a6a6a;
  word-break: break-word;
}

.footer__email:hover {
  color: #fff;
}

.footer__number {
  color: #6a6a6a;
}

.footer__number:hover {
  color: #fff;
}

.footer__item {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: #6a6a6a;
  transition: 0.3s;
}

.footer__link:hover {
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

a:hover {
  color: #6a6a6a;
  text-decoration: none;
}

.footer__txt {
  text-align: center;
  color: #909090;
  margin-top: 30px;
}

.footer__hero {
  position: relative;
  color: #fff;
  transition: 0.3s;
}

.footer__hero:hover {
  color: #fff;
  text-decoration: none;
}

.footer__hero:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -7px;
  background: #007d2f;
  opacity: 0;
}

@media (max-width: 1140px) {
  .intro__title {
    font-size: 33px;
  }

  .eyes__img {
    width: 70%;
  }
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 8px 0;
  }
}

@media (max-width: 992px) {
  .intro {
    padding: 75px 0;
  }
  .footer__txt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .header.fixed {
    padding: 10px 0;
  }
  .header__list {
    width: 50%;
    height: 100vh;
    background: #07a744;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
  }
  .header__list.active {
    left: 0%;
  }
  .header__burger {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 99;
    transform: rotate(360deg);
  }
  .header__burger.active {
    transform: rotate(360deg);
  }
  .header__icon {
    position: absolute;
    width: 85%;
    height: 4px;
    background: #000000;
    border-radius: 5px;
    transition: 0.3s;
  }
  .header__icon.fixed {
    background: #000000;
  }
  .header__icon.active {
    background: transparent;
  }
  .header__icon::before,
  .header__icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: -10px;
    background: #000000;
    transition: 0.3s;
    border-radius: 5px;
  }
  .header__icon::after {
    top: 10px;
  }
  .header__icon.fixed::before,
  .header__icon.fixed::after {
    background: #000000;
  }
  .header__icon.active::after {
    transform: rotate(-45deg) rotate(360deg);
    background: #000000;
    top: 0;
  }
  .header__icon.active::before {
    transform: rotate(45deg) rotate(360deg);
    background: #000000;
    top: 0;
  }
  .nav-item {
    margin: 0 0 18px;
  }
  .active {
    color: #000000;
  }
  .nav__link,
  .nav__link:hover {
    color: #ffffff;
  }
  .nav__link:after {
    background: #ffffff;
  }
  .logo__img {
    width: 50px;
  }
  .intro__content {
    width: 80%;
  }
  .footer__title {
    font-size: 23px;
  }
  .footer__content:nth-of-type(2) {
    text-align: right;
  }
  .footer__content:nth-of-type(3) {
    margin-top: 35px;
    justify-content: space-around;
  }
  .footer__hero {
    color: #ffff;
    outline: none;
  }
  .footer__hero::after {
    opacity: 1;
  }
  .footer__hero:hover:after {
    animation: none !important;
  }
}

@media (max-width: 667px) {
  .intro__content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .intro__content {
    width: auto;
  }
}

@media (max-width: 414px) {
  .header__list {
    width: 75%;
  }

  .intro__title {
    font-size: 30px;
  }

  .intro__txt {
    padding: 0 50px;
  }
}

@media (max-width: 412px) {
  .footer p {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .header__list {
    width: 100%;
  }
  .header__icon.active::after,
  .header__icon.active::before {
    background: #ffffff;
  }
  img.logo__img {
    width: 70%;
  }
  .intro__content {
    width: auto;
  }
  .footer__content:nth-of-type(2) {
    text-align: center;
  }
  .footer__title {
    font-size: 18px;
  }
  .footer__email {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 25px;
  }
  .eyes__img {
    width: 60%;
  }
}

.nav__link:hover:after {
  opacity: 1;
  animation: nav-link 0.5s;
}

.footer__hero:hover:after {
  opacity: 1;
  animation: footer__hero 0.5s;
}

@keyframes nav-link {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes footer__hero {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
